body {
    margin: 0;
}
#sl-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Appbar */
#sl-appbar {
    background-color: #005ca5;
    color: #a0d4ff;
    flex-shrink: 0; /* Prevents the header from shrinking */
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
}
#sl-appbar-content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 4px 10px;
}
#sl-appbar-logo {
    flex: 0 0 auto;
}
#sl-appbar-menu-left {
    flex: 1 1 auto;
}
#sl-appbar-menu-right {
    flex: 0 0 200px;
}
#sl-appbar-spacer {
    flex: 0 1 auto;
}
.sl-appbar-menu-icon {
    font-size: 18px !important;
}
.sl-appbar-menu-icon:hover {
    cursor: pointer;
}

/* Main page container */
#sl-page-container {
    flex-grow: 1; /* Allows the main content to grow and fill the remaining space */
    overflow: auto; /* Enables scrolling if content overflows */
    padding: 10px;
}

/* Footer */
#sl-footer {
    background-color: #e6f2ff;
    color: #374151;
    font-weight: 500;
    flex-shrink: 0; /* Prevents the footer from shrinking */
    position: sticky;
    bottom: 0;
    z-index: 1000; /* Adjust as needed */
}
#sl-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;

}
.sl-footer-logo {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}
.sl-footer-copyright {
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
    margin-left: auto;
}
